<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Accueil </title>

    <!--<div th:replace="vues/header :: head"></div>-->

    <link rel="stylesheet" type="text/css" href="/webjars/Semantic-UI/2.4.1/semantic.css">

</head>
<body>

<!--<nav th:replace="vues/header :: header-nav"></nav>-->

<div class="ui container">
    <h1>Accueil du cinéma</h1>

    <!--<h2 class="ui dividing header">Persons</h2>-->
    <!--<a href="/person/list" th:text="'liste de personnes'">link</a>-->
    <!--<br/>-->
    <!--<a href="/person/add" th:text="'formulaire création de personnes'">link</a>-->

    <!--<h2 class="ui dividing header">Films</h2>-->
    <!--<a href="/film/list" th:text="'liste de films'">link</a>-->
    <!--<br/>-->
    <!--<a href="/film/add" th:text="'formulaire création de film'">link</a>-->

    <h2 class="ui dividing header">Genres</h2>
    <a href="genre/" th:text="'liste de genres'">link</a>
    <br/>
    <!--<a href="/genre/add" th:text="'formulaire création de genres'">link</a>-->

    <!--<h2 class="ui dividing header">Users</h2>-->
    <!--<a href="/user/list" th:text="'liste des users'">link</a>-->
    <!--<br/>-->
    <!--<a href="/user/add" th:text="'form users'">link</a>-->
</div>

<!--<footer th:replace="vues/footer :: footer"> footer </footer>-->

</body>
</html>